.home__menu {
    display: flex;
    gap: 100px;
    padding-top: 30px;
}

@media screen and (max-width: 1200px) {
    .home__menu {
        gap: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .home__menu {
        flex-direction: column;
    }
}