.home__menu {
    display: flex;
    gap: 250px;
    padding-top: 30px;
}

@media screen and (max-width: 1200px) {
    .home__menu {
        gap: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .home__menu {
        gap: 80px;
    }
}

@media screen and (max-width: 850px) {
    .home__menu {
        padding-top: 150px;
        flex-direction: column;
        gap: 50px;
    }
}