.work__article-button {
    width: 180px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid rgba(227, 228, 230, 0.55);
    border-radius: 100px;
    color:#E3E4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* z-index: 2; */
}

.work__article-button:hover {
    background: linear-gradient(99.05deg, rgb(158,125,18) 0.07%, rgb(103,81,11)106.32%);
    cursor: pointer;
}