@use '../../scss/variables' as *;

.carousel {
	padding: 0 5rem 10rem;
	// width: 100%;
	box-sizing: border-box;

	.carousel-title {
		margin: 0 0;
		text-align: center;
		color: $main-text-color;
		font-size: 7.2rem;
		padding-bottom: 10rem;
	
		@media screen and (max-width: 768px) {
			font-size: 5.6rem;
		}
	
		@media screen and (max-width: 480px) {
			font-size: 3.6rem;
		}
	}
	
	.carousel-element {
		max-width: 40rem;
		border-radius: 5%;
	
		@media screen and (max-width: 500px) {
			.carousel-element {
				max-width: 30rem;
			}
		}
	
		@media screen and (max-width: 400px) {
			.carousel-element {
				max-width: 15rem;
			}
		}
	}
}