@use './assets/fonts/fonts.scss';

/* MAIN */
@use 'components/Main/Main.scss';

/* NAVIGATION */
@use 'components/Navigation/Navigation.scss';

// /* LOADING */
// @import url("../blocks/loading.css");

// /* PAGE NOT FOUND */
// @import url("../blocks/page-not-found.css");

/* ARROW-UP */
@use 'components/ArrowUp/ArrowUp.scss';

/* HOME */
@use 'components/Home/Home.scss';


/* HEADER-VIDEO */
@use 'components/HeaderVideo/HeaderVideo.scss';

/* CLIENTS */
@use 'components/Clients/Clients.scss';

/* WORK */
@use 'components/Work/Work.scss';

/* ARTICLE */
@use 'components/Article/Article.scss';

/* CAROUSEL */
@use 'components/Carousel/Carousel.scss';
// @import url("../blocks/carousel/element/carousel-element.css");

// /* ABOUT ME */
// @import url("../blocks/about-me/about-me.css");
// @import url("../blocks/about-me/__content/about-me__content.css");
// @import url("../blocks/about-me/__text-content/about-me__text-content.css");
// @import url("../blocks/about-me/__title/about-me__title.css");
// @import url("../blocks/about-me/__text/about-me__text.css");
// @import url("../blocks/about-me/__images/about-me__images.css");
// @import url("../blocks/about-me/__image/about-me__image.css");
// @import url("../blocks/about-me/__image/_area/about-me__image_area_1.css");
// @import url("../blocks/about-me/__image/_area/about-me__image_area_2.css");
// @import url("../blocks/about-me/__image/_area/about-me__image_area_3.css");

// /* WORKSTACK */
// @import url("../blocks/workstack/workstack.css");
// @import url("../blocks/workstack/__title/workstack__title.css");
// @import url("../blocks/workstack/__icons/workstack__icons.css");
// @import url("../blocks/workstack/__icon/workstack__icon.css");

// /* SHOWREELS */
// @import url('../blocks/showreels/showreels.css');
// @import url('../blocks/showreels/__wrapper/showreels__wrapper.css');
// @import url('../blocks/showreels/__title/showreels__title.css');
// @import url('../blocks/showreels/__button/showreels__button.css');

// /* OTHER-PROJECTS */
// @import url("../blocks/other-projects/other-projects.css");
// @import url("../blocks/other-projects/__title/other-projects__title.css");
// @import url("../blocks/other-projects/__img-wrapper/other-projects__img-wrapper.css");
// @import url("../blocks/other-projects/__img/other-projects__img.css");

// /* OTHER PROJECT VIEW */
// @import url("../blocks/other-project-view/other-project-view.css");
// @import url("../blocks/other-project-view/__back/other-project-view__back.css");
// @import url("../blocks/other-project-view/__title/other-project-view-title.css");
// @import url("../blocks/other-project-view/__img/other-project-view__img.css");
// @import url("../blocks/other-project-view/__vid/other-project-view__vid.css");
// @import url("../blocks/other-project-view/__img-wrapper/other-project-view__img-wrapper.css");

// /* FOOTER */
// @import url("../blocks/footer/footer.css");
// @import url("../blocks/footer/__wrapper/footer__wrapper.css");
// @import url("../blocks/footer/__content/footer__content.css");
// @import url("../blocks/footer/__title/footer__title.css");
// @import url("../blocks/footer/__text/footer__text.css");
// @import url("../blocks/footer/__socials/footer__socials.css");
// @import url("../blocks/footer/__social-icon/footer__social-icon.css");
// @import url("../blocks/footer/__social-icon/_type/footer__social-icon_type_mail.css");
// @import url("../blocks/footer/__social-icon/_type/footer__social-icon_type_artstation.css");
// @import url("../blocks/footer/__social-icon/_type/footer__social-icon_type_imdb.css");
// @import url("../blocks/footer/__social-icon/_type/footer__social-icon_type_linkedin.css");

// /* POPUP */
// @import url("../blocks/popup/popup.css");
// @import url("../blocks/popup/__body/popup__body.css");
// @import url("../blocks/popup/__close-btn/popup__close-btn.css");
// @import url("../blocks/popup/__content/popup__content.css");
// @import url("../blocks/popup/__title/popup__title.css");
// @import url("../blocks/popup/_opened/popup_opened.css");
// @import url("../blocks/popup/__player/popup__player.css");
// @import url("../blocks/popup/__player-wrapper/popup__player-wrapper.css");

// /* CONTACT FORM */
// @import url("../blocks/contact-form/contact-form.css");
// @import url("../blocks/contact-form/__container/contact-form__container.css");
// @import url("../blocks/contact-form/__text/contact-form__text.css");
// @import url("../blocks/contact-form/__email/contact-form__email.css");
// @import url("../blocks/contact-form/__btn/contact-form__btn.css");

@use 'scss/variables' as *;

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Work Sans", "Arial", sans-serif;
}

.body {
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(180deg, #000000 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 95%, rgb(27, 0, 46) 100%);
  color: rgba(227, 228, 230, 0.55);
}

.bold-text {
  color: $main-text-color;
  font-weight: 600;
  font-size: 1em;
}