@use './assets/fonts/fonts.scss';

/* MAIN */
@use 'components/Main/Main.scss';

/* HEADER-VIDEO */
@use 'components/HeaderVideo/HeaderVideo.scss';

/* NAVIGATION */
@use 'components/Navigation/Navigation.scss';

/* LOADING */
@use 'components/Loading/Loading.scss';

/* PAGE NOT FOUND */
@use 'components/PageNotFound/PageNotFound.scss';

/* ARROW-UP */
@use 'components/ArrowUp/ArrowUp.scss';

/* HOME */
@use 'components/Home/Home.scss';


/* CLIENTS */
@use 'components/Clients/Clients.scss';

/* WORK */
@use 'components/Work/Work.scss';

/* ARTICLE */
@use 'components/Article/Article.scss';

/* CAROUSEL */
@use 'components/Carousel/Carousel.scss';

/* ABOUT ME */
@use 'components/AboutMe/AboutMe.scss';

/* WORKSTACK */
@use 'components/WorkStack/WorkStack.scss';

// /* OTHER-PROJECTS */
// @import url("../blocks/other-projects/other-projects.css");

/* OTHER-PROJECT */
@use 'components/OtherProject/OtherProject.scss';

// /* OTHER PROJECT VIEW */
// @import url("../blocks/other-project-view/

/* FOOTER */
@use 'components/Footer/Footer.scss';

// /* POPUP */
// @import url("../blocks/popup/popup.css");

// /* CONTACT FORM */
// @import url("../blocks/contact-form/contact-form.css");

@use 'scss/variables' as *;

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Work Sans", "Arial", sans-serif;
}

.body {
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(180deg, #000000 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 95%, rgb(27, 0, 46) 100%);
  color: rgba(227, 228, 230, 0.55);
}

.bold-text {
  color: $main-text-color;
  font-weight: 600;
  font-size: 1em;
}